div#A1{
   position: absolute;
   width: 200px;
   height: 1000px;
   top: 25px;
   left: 80px;
   background-color: yellow;
}

div#A2{
   position: absolute;
   width: 200px;
   height: 1000px;
   top: 25px;
   right: 290px;
  background-color: orange;
}
   
div#A3{
   position: absolute;
   width: 200px;
   height: 1000px;
   top: 25px;
   right: 80px;
  background-color: lightgreen;
}
   
div#A4{
   position: absolute;
   width: 200px;
   height: 1000px;
   top: 25px;
   left: 290px;
   background-color: cyan;
}  